@property --bg-capture-g1-1-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 20%;
}

@property --bg-capture-g1-1-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}

@property --bg-capture-g1-2-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}

@property --bg-capture-g1-2-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 20%;
}

/* Main class with fully scoped animation */
.bg-scan {

}

//////////////////

.bg-capture {
  background: radial-gradient(
                  100% 100% at var(--bg-capture-g1-1-x-position) var(--bg-capture-g1-1-y-position),
                  #3cc2dd 0%,
                  transparent
  ),
  radial-gradient(
                  100% 100% at var(--bg-capture-g1-2-x-position) var(--bg-capture-g1-2-y-position),
                  #93f179 0%,
                  transparent
  ),
  #33405b;
  animation: bg-capture-g1 3s infinite ease-in;

  /* Scoped keyframes */
  @keyframes bg-capture-g1 {
    0% {
      --bg-capture-g1-1-x-position: 20%;
      --bg-capture-g1-1-y-position: 80%;
      --bg-capture-g1-2-x-position: 80%;
      --bg-capture-g1-2-y-position: 20%;
    }
    25% {
      --bg-capture-g1-1-x-position: 15%;
      --bg-capture-g1-1-y-position: 15%;
      --bg-capture-g1-2-x-position: 85%;
      --bg-capture-g1-2-y-position: 80%;
    }
    50% {
      --bg-capture-g1-1-x-position: 80%;
      --bg-capture-g1-1-y-position: 15%;
      --bg-capture-g1-2-x-position: 15%;
      --bg-capture-g1-2-y-position: 85%;
    }
    100% {
      --bg-capture-g1-1-x-position: 20%;
      --bg-capture-g1-1-y-position: 80%;
      --bg-capture-g1-2-x-position: 80%;
      --bg-capture-g1-2-y-position: 20%;
    }
  }
}

.animate-gradient-loading {
  background: radial-gradient(100% 100% at var(--g6-1-x-position) var(--g6-1-y-position), #fff700 -34%, transparent), radial-gradient(100% 100% at var(--g6-2-x-position) var(--g6-2-y-position), #f179e7 -28%, transparent), radial-gradient(100% 100% at 52% 47%, #00fbff 13%, transparent), #ffffff;
  animation-name: g-6;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  transition-timing-function: ease-in
}

